<!DOCTYPE html>
<html xmlns:th ="http:/ww.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Todo List</title>
  <link rel="stylesheet" th:href="@{styles.css}">
</head>

<body>
	<div class="content_box">
		<div class="list_parent"> 
			<h1 class="title">To Do List</h1>
			
			<h3>New Tasks</h3>
				<form method="post" th:action="@{/}" th:object="${myTodoList}">
					<input type="text" name="title" th:field="*{title}" th:errorclass="is-invalid">
					<div  class="validation_error" th:errors="*{title}"></div>
					<button type="submit" name="add">Add</button>
				
				
				</form> 
			<h3>Mytasks</h3>
				<form method="post" th:action="@{/}" th:each="todo : ${todos}" >
				 	<input type="checkbox"name="doneFlg" th:checked="${todo.doneFlg}"/>
	   			 	<input type="hidden" name="id" th:value="${todo.id}" />
	    			<input type="text" name="title" th:value="${todo.title}" />
	    			<button type="submit" name="update">Update</button>
	    			<button type="submit" name="delete">Delete</button>
  				</form>
			
		</div>
	</div>
</body>
</html>


  